# Proxmox
#   proxmox-ve_8.4-1.iso
function add_menu {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:version \
    --set 3:vermaj \
    "^${isopath}/proxmox/(proxmox-ve_(([0-9+])[^-]*)\.iso)\$" "${isofile}"
  menuentry "Proxmox ${version}" "${isofile}" "${isoname}" --class proxmox {
    set isofile=$2
    set isoname=$3
    use "${isoname}"
    loop $isofile
    linux (loop)/boot/linux26 ro ramdisk_size=16777216 rw quiet splash=silent
    initrd (loop)/boot/initrd.img
  }
}

for_each_sorted add_menu "$isopath"/proxmox/proxmox-ve*.iso
