# NixOS
#   nixos-minimal-24.11.717984.ba8b70ee098b-x86_64-linux.iso
function add_menu {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:variant \
    --set 3:version \
    --set 4:arch \
    --set 5:linux \
    "^${isopath}/nixos/(nixos-(.+)-(.+)-(.+)-(.+)\.iso)\$" "${isofile}"
  menuentry "NixOS ${variant} ${version} ${arch}" "${isofile}" "${isoname}" --class nixos {
    set isofile=$2
    set isoname=$3
    use "${isoname}"
    loop $isofile
    linux (loop)/boot/bzImage ${isoboot} init=/nix/store/l4s7j6j4n2liy1rrix3kcjhnn81680mv-nixos-system-nixos-24.11.717984.ba8b70ee098b/init  root=LABEL=nixos-minimal-24.11-x86_64 boot.shell_on_fail nohibernate loglevel=4
    initrd (loop)/boot/initrd
  }
}

for_each_sorted add_menu "$isopath"/nixos/nixos-*.iso
