# NixOS
#   nixos-minimal-24.11.717984.ba8b70ee098b-x86_64-linux.iso
function add_menu {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:variant \
    --set 3:version \
    --set 4:arch \
    --set 5:linux \
    "^${isopath}/nixos/(nixos-(.+)-(.+)-(.+)-(.+)\.iso)\$" "${isofile}"
  menuentry "NixOS ${variant} ${version} ${arch}" "${isofile}" "${isoname}" --class nixos {
    set iso_path="${isopath}/nixos/${isoname}"
    export iso_path
    export rootuuid
    search --set=root --file "$iso_path"
    loopback loop "$iso_path"
    root=(loop)
    configfile /boot/grub/loopback.cfg
    loopback --delete loop
  }
}

for_each_sorted add_menu "$isopath"/nixos/nixos-*.iso
